<% form_for @vitae do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :entry %><br />
    <%= f.text_field :entry %>
  </p>
  <p>
    <%= f.label :cvcat_id %><br />
    <%= f.collection_select :cvcat_id, Cvcat.find(:all), :id, :category, :prompt => "select" %>
  </p>    
  <p><%= f.submit "Submit" %></p>
<% end %>
