<% title "Paintings" %>
<div class="gallery">
<% for painting in @paintings %>
<div class="picture span-4 left">
  <%= link_to image_tag(painting.photo.url(:small)), painting %><br />
  <%=h painting.title %><br />
  <%=h painting.description %>
  <%=h painting.year %><br />
</div>
<% end %>
</div>

<div class="span-16">
	<%= will_paginate @paintings, :class => "left" %>
<% if current_user %>
	<%= link_to "New Painting", new_painting_path, :class => "crud, right" %>
<% end %>
<!--- <%= link_to '2000s', {:controller => :paintings, :action => :index, :year => 2000 } %> -->
</div>
