<% form_for @cvcat do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  
  <div id="entries">
    <% f.fields_for :cventries do |entry_form| -%>
    <div class="entry">
      <p>
        <%= entry_form.label :entry %>
        <%= entry_form.text_field :entry %>
      </p>
    </div>
    <% end -%>
  </div>
  <p><%= add_task_link(f) %><p>
  <p><%= f.submit "Submit" %></p>
<% end %>
