<% title "Cvcats" %>
<div id="text">

<% for cvcat in @cvcats %>
  <h3><%=h cvcat.category %></h3>
    <ul>
      <% cvcat.vitaes.each do |vitae| %> 
      <li><%= vitae.entry %>
      <% if current_user %>      
        <%= link_to "Edit", edit_vitae_path(vitae), :class => "crud" %>
        <%= link_to "Destroy", vitae, :class => "crud", :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </li>
      <% end %>
      </ul>
  <% end %>
  <% if current_user %>
    <p><%= link_to "New Category", new_cvcat_path, :class => "crud" %></p>
    <p><%= link_to "New CV Entry", new_vitae_path, :class => "crud" %></p>
  <% end %>
</div>