<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag 'style' %>
	<title>Lorraine Lubner</title>
</head>
<body>

<div id="container">
<div id="frame">
	<div id="navigation">
		<div id="title">
		<h2><%= link_to "Lorraine Lubner", root_url %></h2>

		</div>
		<ul>
			<li><div class="cv"><div class="button"><%= link_to "Curriculum Vitae", cvcats_path %></div></div></li>
			<li><div class="gallery"><div class="button"><%= link_to "Paintings", paintings_path %></div></div></li>
		</ul>
	</div>
	<div id="user_nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(:current) %> |
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
  
	<div id="content">
    <%= yield %>
	</div>
</div>

</body>
</html>